@{
	ViewData["Title"] = "Cadastro";
}

@model Cadastro

<h3>Cadastro</h3>

<form asp-action="resumo" method="post">
    
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label" for="nomeCliente">Nome do Cliente</label>
                    <input type="text" class="form-control" id="nomeCliente" placeholder="Nome do Cliente"
                           asp-for="@Model.Nome">
                    <span asp-validation-for="@Model.Nome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label" for="email">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Email"
                           asp-for="@Model.Email">
                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label" for="telefone">Telefone</label>
                    <input type="text" class="form-control" id="telefone" placeholder="Telefone"
                           asp-for="@Model.Telefone">
                    <span asp-validation-for="@Model.Telefone" class="text-danger"></span>
                </div>
            </div>
            
        </div>
    </div>


</form>